body
{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;
    background: #f2f2f2;
}

#signup-box
{
    width: 70%;
    margin: 0 auto;
    padding: 5px 5px;
    height: 46em;
    background: #fff;
    display: block;
}

.logo
{
    margin-top: 5em;
    margin-left: 50%;
    transform: scale(2.3);
}

h2{
    font-size: 28px;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 3em;
}

form
{
    display: block;
    justify-content: center;
}

.signup-form, label
{
     font-weight: bold;
     margin-bottom: 25px;
    
}
#asteric
{
    color: #cc1006;
    font-size: 21px;
}

#register
{
    font-size: 18px;
    margin-left: 25%;
    padding: 5px 5px;
}

#textbox
{
    margin: 12px 0;
    width: 28em;
    height: 25px;
    font-size: 16px;
    border: 2px solid #3c9e0a;
    border-radius: 15px;
    outline: none;
    padding-left: 2em;
    padding-top: 4px;
    padding-bottom: 4px;
}

#submit
{
    background: #3c9e0a;
    margin-left: 10px;
    margin-top: 12px;
    padding: 15px 48px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

#submit:hover{
    transform: scale(1.2);
    background: #fff;
    color: #3c9e0a;
    outline: none;
    border: 1px solid #3c9e0a;
    transition: 0.3s ease;
}









